Q: What is an Algorithm?
- A series of steps to solve a problem

Q: Variable names may not start with certain characters - name two.
1. Numbers
2. Must start with a letter or underscore

Q: What is a semantic error?
- Semantic errors occur when the code is grammatically correct but does not produce the expected results

Q: What is the #1 rule of Python?
- Complexity is the opposite of efficiency.

Q: List 5 Python reserved words
- FALSE
- TRUE
- else
- except
- global

---
Write a multi-line string with your name, favorite food, and dream job on 3 different lines

In [ ]:
a = """
    Tory Holland
    Cheesecake
    Librarian
    """
print(a)

Assign 5 different data types to 5 different variables. At least one datatype must be a string
- Print the length of your string
- Print the index value of the 4th character in your string

In [ ]:
a = 27
b = 27.5
c = ["June", 1997, 9]
d = "Holland"
e = {"Month" : "October", "Day" : 9}
print(len(d))
print(d[4])

Create a new variable called savvy, and assign it the string with this phrase "Learning Data Analytics and Python is Awesome!"
- Return a range of characters that slices the above string from the beginning of "ing" up to before "and"
- Replace "Awesome" with "great" in the string
- Test and print the savvy string to see it contains "Python"

In [ ]:
savvy = "Learning Data Analytics and Python is Awesome!"
print(savvy[5:-24])
print(savvy.replace("Awesome", "Great"))
print(savvy.find("Python") != -1)

Create and assign 3 more variables called name, age and length using the multi-variable naming method
- Format a new string called 'miniBio' using variables in curly brackets to complete - this phrase... "Hi my name is (name), I am (tall) and (so) old today."
- Print 'miniBio'
- Cast and print the age variable to a float

In [ ]:
name, age, length = "Tory Holland", "27", "5'6"
miniBio = ("Hi, my name is " + (name) + ", I am "  + (length) + " and " + (age) + " years old today ")
print(miniBio)
print(float(age))

### Complex Data Types

Create a list of at least 5 elements of mixed data types
- Replace a part of it with something else
- Append or insert several more items to the list
- Find and print the length of the list
- Slice a sub-section of the 1st list, and save it to a different 2nd list
- Print the 2nd list
- Extend your original list with the 2nd list sliced above
- Create a new list called "simList" containing at least 5 elements of the same data type, either string, integer, float, or Boolean
- Sort "simList", and print the list
- Copy the "simList" list to another 3rd list
- Add the 2nd and 3rd lists together into a 4th list

In [ ]:
elements = [27, 27.5, "Tory", "Holland", True]
elements.append("Bag")
elements.append("Sword")
elements.append(67)
elements.append(68.9)
print(str(len(elements)))
elementsCopy = elements[0:4]
print(elementsCopy)
elements.append(elementsCopy)
simList = [10, 20, 30, 40, 50]
simList.sort(reverse=True)
print(simList)
simListCopy1 = simList.copy()
simList2 = simList + simListCopy1
print(simList2)

Create a tuple of about 5 elements
- Multiply your tuple by 3 and save it to a new 2nd tuple
- Access and print the 12th element from the 2nd tuple
- Sort the 2nd tuple and print it
- Copy 4 specific elements from your 2nd tuple to a new 3nd tuple
- Unpack the 3rd tuple into 4 variables and print these variables
- Create a 4th tuple with single item 50 and print this tuple
- Add the 2nd and 3rd tuple together into a 5th tuple and print the tuple

In [ ]:
x = (1, 2, 4, 8, 16)
x2 = (x*3)
print(x2[12])
sorted(x2)
print(x2)
x3 = (x2[1],x2[3],x2[5],x2[8])
print(x3)
a, b, c, d = x3[0], x3[1], x3[2], x3[3]
x4 = (50,)
print(x4)
x5 = x2+x3
print(x5)

Create a set of about 3 elements
- Add a list of fruits to the above set and print the result
- Add a car element to your set
- Create a 2nd set with a few odd items
- Save the union of 1st set and 2nd set to a 3rd set
- Pop an element from the 2nd set, and print the remainder of the set
- Clear the 1st set and print the result
- Discard an element, and remove another element from the 3rd set
- Print the remainder of the 3rd set

In [10]:
s1 = {"apple", "orange", "pineapple"}
s1.add("strawberry")
s1.add("blueberry")
s1.add("watermelon")
print(s1)
s2 = {1, 3, 5, 7}
s3 = s1.union(s2)
print(s3)
s2.pop()
print(s2)
s1.clear()
print(s1)
s3.discard(0)
s3.remove(5)
print(s3)

{'orange', 'blueberry', 'apple', 'watermelon', 'pineapple', 'strawberry'}
{1, 3, 'orange', 5, 'blueberry', 7, 'apple', 'watermelon', 'pineapple', 'strawberry'}
{3, 5, 7}
set()
{1, 3, 'orange', 'blueberry', 7, 'apple', 'watermelon', 'pineapple', 'strawberry'}

Create a dictionary with at least 5 values of different data types
- Print out 1 value
- Replace any one value in your dictionary with your name
- Add your favorite color to the dictionary
- Add a list, tuple or set to your dictionary
- Print a list of the dictionary keys
- Print a list of the dictionary values
- Copy your 1st dictionary into a 2nd dictionary
- Pop an item from the 2nd dictionary, and print the dictionary
- Remove all the elements from the 2nd dictionary and print the result

In [36]:
d1 = {
    "age" : 27,
    "savings" : 150.05,
    "name" : "Bob",
    "tuple" : ("x, x2, x3"),
    "set" : {"s1", "s2", "s3"}
    }
print(d1["name"])
d1["name"] = "Tory"
print(d1)
d1.update({"Favorite Color":"Purple"})
d1.update({"tuple2" : ("t1", "t2", "t3")})
print(d1.keys())
print(d1.values())
d2 = d1.copy()
d2.pop("age")
print(d2)
d2.clear()
print(d2)

Bob
{'age': 27, 'savings': 150.05, 'name': 'Tory', 'tuple': 'x, x2, x3', 'set': {'s3', 's2', 's1'}}
dict_keys(['age', 'savings', 'name', 'tuple', 'set', 'Favorite Color', 'tuple2'])
dict_values([27, 150.05, 'Tory', 'x, x2, x3', {'s3', 's2', 's1'}, 'Purple', ('t1', 't2', 't3')])
{'savings': 150.05, 'name': 'Tory', 'tuple': 'x, x2, x3', 'set': {'s3', 's2', 's1'}, 'Favorite Color': 'Purple', 'tuple2': ('t1', 't2', 't3')}
{}